.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .table {
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: var(--space-2);
    max-width: 1200px;
    width: 100%;

    th:first-of-type {
      border-top-left-radius: var(--radius-4);
    }
    
    th:last-of-type {
      border-top-right-radius: var(--radius-4);
    }
    
    tr:last-of-type td:first-of-type {
      border-bottom-left-radius: var(--radius-4);
    }
    
    tr:last-of-type td:last-of-type {
      border-bottom-right-radius: var(--radius-4);
    }
  }
}
