/.vs
/SchoolMoney/.vs/ProjectEvaluation
/SchoolMoney/.vs/SchoolMoney
/SchoolMoney/bin/Debug/net7.0
/SchoolMoney/bin/Release/net7.0
/SchoolMoney/obj
/Domain/bin/Debug/net7.0
/Domain/bin/Release/net7.0
/Infrastructure/bin/Debug/net7.0
/Infrastructure/bin/Release/net7.0
/SchoolMoney.Tests/bin/Debug/net7.0
/SchoolMoney.Tests/obj
/Domain/obj
/Infrastructure/obj