.container {
  padding: var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .actions {
    display: flex;
    padding-inline: var(--space-2);
    flex-direction: column;
    gap: var(--space-2);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);

    .name {
      font-size: var(--font-size-5);
    }

    .description {
      font-size: var(--font-size-3);
    }

    .footer {
      display: flex;
      gap: var(--space-6);

      .endDate, .amountPerPerson {
        color: var(--accent-11);
        font-size: var(--font-size-2);
      }
    }
  }
}