.container {
  padding: var(--space-4);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;

  &:hover {
    transform: scale(1.01);
    background: var(--accent-1);

    &:active {
      transform: scale(0.99);
    }
  }
    
  .alert {
    margin-bottom: var(--space-2);
  }
  
  .header {
    display: flex;
    gap: var(--space-2);
    align-items: center;
    
    .name {
      font-size: var(--font-size-5);
    }
  }

  .description {
    font-size: var(--font-size-3);
  }

  .footer {
    display: flex;
    gap: var(--space-6);

    .endDate, .amountPerPerson {
      color: var(--accent-11);
      font-size: var(--font-size-2);
    }
  }
}